{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    {% element div class="container-fluid" %}
    {% element div class="row h-100 align-items-center justify-content-center"
    style="min-height: 100vh;" %}
    {% element div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4" %}
    {% element div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3" %}
    {% element div class="d-flex align-items-center justify-content-between mb-3"] %}
    {% element h3 class="text-primary" %}{% element i class="fa fa-user-edit me-2" aria-hidden="true" %}{% endelement %}
    Learnosity Support Engineer Portal Log-In{% endelement %}
{% endelement %}
{% element h1 %}
{% trans "Sign In" %}
{% endelement %}
<p>
    {% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
</p>
{% url 'account_login' as login_url %}
{% element form form=form method="post" action=login_url tags="entrance,login" %}
{% slot body %}
{% csrf_token %}
{% element fields form=form unlabeled=True %}
{% endelement %}
{% if redirect_field_value %}
    <input type="hidden"
           name="{{ redirect_field_name }}"
           value="{{ redirect_field_value }}" />
{% endif %}
{% endslot %}
{% slot actions %}
{% element button type="submit" tags="prominent,login" %}
{% trans "Sign In" %}
{% endelement %}
{% endslot %}
{% endelement %}
{% endelement %}
{% endelement %}
{% endelement %}
{% endelement %}
{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
