{% load static %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Wins and Oops Moment - {{ wins_oops_count }}</h6>
        </div>
        {% if open_needs_items_count > 0 %}
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col"></th>
                            <th scope="col">Date Occured</th>
                            <th scope="col">Support Engineer</th>
                            <th scope="col">Client</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for win_oops in weeks_win_oops %}
                            {% if item.type == "WIN" %}
                                <h6 class="mb-0">Wins</h6>
                                <tr class="win-item">
                                    <td></td>
                                    <td>{{ item.date_occured }}</td>
                                    <td>{{ item.reported_by }}</td>
                                    <td>{{ item.clients_involved }}</td>
                                    <td>{{ item.description }}</td>
                                </tr>
                            {% else %}
                                <h6 class="mb-0">Oops</h6>
                                <tr class="oops-item">
                                    <td></td>
                                    <td>{{ item.date_occured }}</td>
                                    <td>{{ item.reported_by }}</td>
                                    <td>{{ item.clients_involved }}</td>
                                    <td>{{ item.description }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row no-items">
                <div class="no-work-copy">
                    Nothing to See Here! How about a Quick
                    Laugh? 🤣
                </div>
                <h3 id="joke" class="col-12 yo-mama-joke"></h3>
            </div>
        {% endif %}
    </div>
</div>
