{% load static %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">{{ request.user.first_name }} Action Items - {{ personal_action_items_count }}</h6>
        </div>
        {% if personal_action_items_count > 0 %}
            <div class="table-responsive item-segmentation">
                <table
                    class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-white">
                            <th scope="col">Action Item</th>
                            <th scope="col">Related Agenda Item</th>
                            <th scope="col">Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in personal_action_items %}
                                <tr>
                                    <td>{{item.next_task_needed_to_resolve}}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.next_task_due_date }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row no-items">
                <div class="no-work-copy"> Nothing to See Here! How about a Quick
                    Laugh? 🤣</div>
                <h3 id="joke" class="col-12 yo-mama-joke"></h3>
            </div>
        {% endif %}
    </div>
</div>
